.container{
    margin-top: 20px;

    //scss for loader
    .loader-row{
        display: flex;
        justify-content: center;
        height: 82vh;
        .spinner-div{
            margin: auto;
        }
    }

    //scss for error
    .error-row{
        height: 80vh;
        .alert{
            width: 100%;
            height: 40px;
        }        
    }

    //scss for main code
    .main-row{
        flex-direction: column;

        .filter-row{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .search-wrapper {
                position: relative;
                height: 34px;
                width: 250px;
                padding-left: 5px;
                border: 1px solid #dee2e6;
                .searchbox {
                  height: 30px;
                  width: 220px;
                  color: black;
                  border: none;
                  border-radius: 0;
                }
                .searchbox::placeholder {
                  color: gray;
                }
                .search-icon {
                  position: absolute;
                  margin-left: auto;
                  height: 16px;
                  width: 16px;
                  color: gray;
                  margin-top: 6px;
                  cursor: pointer;
                }
              }
            .select-category{
                margin-left: 20px;
                select, select:focus{
                    margin-left: 20px;
                    height: 34px;
                    width: 180px;
                    padding-left: 5px;
                    border: 1px solid #dee2e6;
                    &:hover,
                    &:focus 
                    {
                      outline: 0 !important;
                      box-shadow: none;
                    }
                }
            }
        }

        table{
            margin-bottom:80px;
            thead{
                th{
                    cursor: pointer;
                }
            }
            tbody{
                max-height: 800px;
                overflow-y: auto;
            }
        }
    }
}

button:focus,
input:focus,
.btn:focus {
  outline: none !important;
  box-shadow: none;
  border: none !important;
}