<div class="container">
    <!-- loader row -->
    <div class="row loader-row" *ngIf='isLoading && !isError'>
        <div class="spinner-border text-secondary spinner-div" role="status">
            <span class="sr-only"></span>
          </div>
    </div>

    <!-- error row -->
    <div class="row error-row" *ngIf='!isLoading && isError'>
        <div class="alert alert-danger" role="alert">{{ errorMessage }}</div>
    </div>

    <!-- main html -->
    <div class="row main-row" *ngIf='!isLoading && !isError'>
        <div class="row filter-row">

            <!-- search box div -->
            <div class="search-wrapper">
                <input class="searchbox" type="text" name="search" [(ngModel)]="searchText"
                    placeholder="Search by Drink Name" (ngModelChange)="onSearch()">
                <span class="fa fa-search search-icon" (click)="onSearch()"></span>
            </div>

            <!-- category filter -->
            <div class="select-category">
                <label>Category Filter:</label>
                <select class="form-select" [(ngModel)]="selectedCategory" (change)="filterUpdate()">
                    <option *ngFor="let x of drinkCategory" [value]="x.id" [selected]="drinkCategory.id == x.id">{{x.category}}</option>
                </select>

            </div>

            <!-- ingredient filter -->
            <div class="select-category">
                <label>Ingredient Filter:</label>
                <select class="form-select" [(ngModel)]="selectedIngredient" (change)="filterUpdate()">
                    <option *ngFor="let x of drinkIngredient" [value]="x.id" [selected]="drinkIngredient.id == x.id">{{x.name}}</option>
                </select>

            </div>
        </div>
        <div class="row pt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let header of headers" (click)="onSort(header.key)">
                            <div>
                                {{ header.value }}
                                <span class="fa fa-arrow-up"
                                    *ngIf="(previousSortableHeader === header.key) && (sortDirection === 'asc')"></span>
                                <span class="fa fa-arrow-down"
                                    *ngIf="(previousSortableHeader === header.key) && (sortDirection === 'desc')"></span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let drink of drinks_data">
                        <td>{{ drink.strDrink }}</td>
                        <td>{{ drink.strCategory | titlecase }}</td>
                        <td>{{ drink.strGlass | titlecase }}</td>
                        <td>{{ drink.strIngredient1 | titlecase }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>