<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand d-flex" href="#">
      <img src="assets/cocktail.png" width="50" height="40" class="d-inline-block align-top mr-2" alt="cocktail_image">
      <div class="my-auto logo-txt">Cocktail Store</div>
    </a>
  </nav>